.header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.header .title{
    text-align: center;

}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
}

.information p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before{
    background-image: url('/assets/img/icons/job.svg');
}

.information .location::before{
    background-image: url('/assets/img/icons/location.svg');
}

.information .phone::before{
    background-image: url('/assets/img/icons/phone.svg');
}

.information .email::before{
    background-image: url('/assets/img/icons/email.svg');
}